
@font-face {
  font-family: 'AlteHaasGrotesk_Bold';
  src: url('AlteHaasGrotesk_Bold.eot?#iefix') format('embedded-opentype'),  url('AlteHaasGrotesk_Bold.woff') format('woff'), url('AlteHaasGrotesk_Bold.ttf')  format('truetype'), url('AlteHaasGrotesk_Bold.svg#AlteHaasGrotesk_Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
